<div class="container mt-4">
  <h1>Lista de artículos</h1>
  <p><%= link_to 'Crear nuevo articulo', new_article_path,
      :class => "btn btn-primary" %></p>
</div>

<div class="pagination justify-content-md-center">
  <%= will_paginate @articles%>
</div>

<%= render 'article' %>

<div class="mb-5 pagination justify-content-md-center">
  <%= will_paginate @articles%>
</div>