<div class="container mt-4">
  <div class="row justify-content-center"></div>
    <div class="col-10">
    </div>
    <h1>About OK!</h1>

    <p><%= link_to 'Volver a inicio', root_path %></p>
  </div>
</div>