<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron">
      <h1 class="display-4">Poéticamente</h1>
        <p class="lead">Bienvenido al lugar donde las letras inundan y se convierten en tu espacio tiempo.</p>
          <hr class="my-4">
        <p>Esperamos que disfrute de la obra.</p>
        <%= link_to "¡Registrate!", signup_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

