<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron">
      <h1 class="display-4">Poéticamente</h1>
        <p class="lead">Bienvenido al lugar donde las letras inundan y se convierten en tu espacio tiempo.</p>
          <hr class="my-4">
        <p>Esperamos que disfrute de la obra.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Acceder</a>
    </div>
  </div>
</div>

